<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qwe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Gly</servlet-name>
    <servlet-class>nqy.controller.Glycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gly</servlet-name>
    <url-pattern>/Gly.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ab</filter-name>
    <filter-class>nqy.util.EnCodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ab</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Lmb</servlet-name>
    <servlet-class>nqy.controller.Lmbcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lmb</servlet-name>
    <url-pattern>/Lmb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ztb</servlet-name>
    <servlet-class>nqy.controller.Ztbcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ztb</servlet-name>
    <url-pattern>/Ztb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Nrb</servlet-name>
    <servlet-class>nqy.controller.Nrbcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nrb</servlet-name>
    <url-pattern>/Nrb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Seo</servlet-name>
    <servlet-class>nqy.controller.Seocontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seo</servlet-name>
    <url-pattern>/Seo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lj</servlet-name>
    <servlet-class>nqy.controller.Ljcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lj</servlet-name>
    <url-pattern>/Lj.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lyfl</servlet-name>
    <servlet-class>nqy.controller.Lyflcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lyfl</servlet-name>
    <url-pattern>/Lyfl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ly</servlet-name>
    <servlet-class>nqy.controller.Lycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ly</servlet-name>
    <url-pattern>/Ly.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Gsxx</servlet-name>
  	<servlet-class>nqy.controller.Gsxxcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Gsxx</servlet-name>
  	<url-pattern>/Gsxx.do</url-pattern>
  </servlet-mapping>
</web-app>